<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework</title>
</head>
<body>
  <h1> Tarea 1 </h1>
  <ol>
    <li>
      <h3>
        Read the following article http://martinfowler.com/articles/microservices.html and explain what "Microservices Architecture" means.
      </h3>
    </li>
    <li>
      <h3>
        Create a bash file to setup a complete environment for this class.
      </h3>
    </li>
    <li>
      <h3>
        Create a grunt task to deploy your website to your own bucket in S3
      </h3>
    </li>
    <li>
      <h3>
        Explain how routes work in angular and a code example.
      </h3>
    </li>
    <li>
      <h3>
        Explain how you can have more than one access key in your computer and how to use each one. Provide code or configuration examples.
      </h3>
    </li>
    <li>
      <h3>
        Explain what are you going to do different this semester based on last semester experience.
      </h3>
    </li>
  </ol>
</body>
</html>
